* {
    font-family: Rubik, sans-serif, monospace;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(250, 235, 215, 0.579);
}


.header {
    background-color: #dcea82;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

.header .logo {
    display: flex;
}

.logo .site-name {
    font-weight: 600;
    font-size: 30px;
}

.logo .laurel {
    width: 20px;
    height: auto;
}

.header .nav {
    display: flex;
    gap: 20px;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    font-weight: 600;
    color: #1d1b1b;
}

.nav li a:hover {
    color: #433e3e;
}

.recipe-name {
    background-color: #dcea8249;
    padding: 20px;
    padding-left: 15%;
    font-weight: 400;
    font-style: italic;
}

.container-all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1000px){
    .container-all{
        flex-direction: column;
    }

    .container-info{
        margin: 20px auto;
    }

    .info{
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }

    .image-container{
        order: -1;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
}

.container-info{
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 60%;
}
.info{
    background-color: #d4e66096;
    padding: 15px;
    padding-top: 3px;
    border-radius: 15px;
    margin: 20px;
    
}
.subtitle-container ul li, .subtitle-container ol li{
    margin-left: 10px;
    margin-bottom: 4px;
}
.subtitle{
    margin-bottom: 20px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    border-radius: 10px;
    width: 75%;
}

.footer{
    background-color: #dcea8249;
    padding: 20px;
}

.footer a{
    color: black;
}