*{
    font-family: Rubik, sans-serif, monospace;
    font-weight: 300;
}
body{
    background-color: rgba(250, 235, 215, 0.579);
}

#title-container, .title, .side-img, .subtitle, #recipes-container, .recipe, img, a, p {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
}





#title-container {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 47px;

}

.side-img {
    width: 30px;
    height: auto;
    margin: 0px -5px;
    margin-bottom: -11.9px;
}

.subtitle {
    font-weight: 400;
    font-style: italic;
    margin: 0 600px 0 100px;
}

#recipes-container{
    background-color: #f3801b44;
    padding: 20px;
    margin: 50px;
}

.recipe{
    position: relative;
    width: 240px;
    margin: 20px 20px;
}

.recipe img{
    position: relative;
    width: 240px;
    height: auto;
}

.recipe img:hover{
    transform: scale(1.05);
    transition: all ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.712);
}

.recipe p{
    position: absolute;
    left: 0px;
    top: -10px;
    padding: 5px;
    text-align: center;
    font-weight: 400;
    background-color: #f6eff86b;
}
