*{
    font-family: Rubik, sans-serif, monospace;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #dcea82;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

.header .logo{
    display: flex;
}

.logo .site-name {
    font-weight: 600;
    font-size: 30px;
}

.logo .laurel {
    width: 20px;
    height: auto;
}

.header .nav{
    display: flex;
    gap: 20px;
}

.nav li{
    list-style-type: none;
}

.nav li a{
    text-decoration: none;
    font-weight: 600;
    color: #1d1b1b;
}

.nav li a:hover {
    color: #433e3e;
}

.subtitle {
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.recipes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #dcea8265;
    padding: 20px;
    margin: 50px;
}

.rounded{
    border-radius: 10px;
}

.recipe{
    position: relative;
    flex: 0 0 278px;
    display: flex;
    justify-content: center;
}

.food-image{
    width: 100%;
    height: auto;
}

.food-image:hover{
    transform: scale(1.05);
    transition: all ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.712);
}

.food-name{
    position: absolute;
    left: 0px;
    padding: 5px;
    text-align: center;
    font-weight: 400;
    background-color: #f6eff879;
    color: black;
}